<h1>Bienvenido!</h1>

<div>
    <h1>Tu perfil</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <br/>
<div>

</div>   
    <a href="api/sessions/logout"><button>Salir</button></a>
</div>